
$main_font: 'Raleway';
$logo_bg_color: #303135;

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $main_font;
}



h1, h2, h3, h4, h5, h6 {
	color: $logo_bg_color;
}

.img-responsive {
	width: 100%;
}

.dark {
	h2 {
		color: white;
	}
	p { color: white; }
}

.mt-40 {
	margin-top: 40px;
}

@import 'resources/assets/sass/button';
@import 'resources/assets/sass/sidemenu';
@import 'resources/assets/sass/slideshow';
@import 'resources/assets/sass/nav';

header {
	background: url('../images/header-shadow.png') repeat-x;
	position: absolute;
	z-index: 9999;
	width: 100%;
}

.modal {
	z-index: 9999;
}


.parallax {
	background-attachment: fixed !important;
	position: relative;
	height: 100%;

	&.dark {
		.content {
			color: white;
			position: relative;
			z-index: 10;
			padding: 40px 0px;
			overflow: hidden;

			h2, h3, h4, h5, h6 {
				text-align: center;
				text-transform: uppercase;
				color: white;
			}

			p.lead {
				text-align: center;
			}

			&.align-left {
				h2, h3, h4, h5, h6, p {
					text-align: left;
				}
			}
		}
	}
}

.page-content {
	width: 100%;
	background-size: cover;
	background: url('../images/featured-opportunities.jpg') 50% 0% no-repeat;
}


#featuredOpportunities {
	width: 100%;
	background-size: cover;
	background: url('../images/featured-opportunities.jpg') 50% 0% no-repeat;

	ul {
		&.brands {
			list-style: none;
			li {
				figure {
					&.brand {
						img {
							padding: 30px;
						}

						.inquiry {
							display: none;
						}				

						.info {
							display: block;
						}

						&.active {
							figcaption {
								.inquiry {
									display: block;
								}

								.info {
									display: none;
								}
							}
						}
					}
				}
			}	
		}

	}

}


#ourBrands {
	width: 100%;
	background-size: cover;
	background: url('../images/temp/our-brands-bg.jpg') 50% 0% no-repeat;

	ul {
		list-style: none;
		&.brands {
			overflow: hidden;
			background: rgba(236, 236, 236, 1);
			padding: 20px;			
			li {
				figure {
					&.brand {
						img {

						}

						figcaption {
							h4 {
								text-align: center;
								color: #333;
							}
						}
					}
				}
			}
		}
	}	
}	


#about {
	width: 100%;
	background-size: cover;
	background: url('../images/featured-opportunities.jpg') 0 10% no-repeat;
}	

.overlay {
	background: url('../images/overlay.png') repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}  	

footer {
	background: #333;
	height: 50px;

	p {
		&.copyright {
			color: white;
			margin-top: 15px;
		}
	}
}


.mobile-only {
	display: none;
}

@import 'resources/assets/sass/mixins';
@import 'resources/assets/sass/branding';

@import 'resources/assets/sass/als_beef';
@import 'resources/assets/sass/queens_chips';
@import 'resources/assets/sass/krush_burger';
@import 'resources/assets/sass/nancy_pizza';
@import 'resources/assets/sass/lobster_joint';
@import 'resources/assets/sass/french_fry_heaven';



.page-default {
	.page-content {
		padding-top: 150px;
	}
}
