
.btn {
	padding: 15px 30px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	position: relative;
	border-radius: 0px !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;		
	}

	&.btn-clear {
		border: 3px solid #fff;
		color: #fff;
		background: none;

		&::after {
			width: 0%;
			height: 100%;
			top: 0;
			left: 0;
			background: #fff;		
		}
		&:hover, &:active {
			color: #333;
			&::after {
				width: 100%;
			}
		}
	}

	&.btn-sm {
		padding: 5px 10px !important;
	}
	&.btn-block {
		width: 100%;
	}
}



