$brandColor: #231f20;
$brandColorTransparent: rgba(35,31,32, 0.8);

body {
	&.backyard-burger-page {
		.brand-overlay {
			background: $brandColorTransparent;
		}

		header {
			background: $brandColorTransparent;
		}

		.parallax {
			.content {
				.logo-inquire {
					background: $brandColor;
				}
			}
		}
	}
}


.backyard-burger {
	background: $brandColor !important;
}