$brandColor: #f8a30a;
$brandColorTransparent: rgba(248,168,10,0.8);

body {
	&.krush-burger-page {
		.brand-overlay {
			background: $brandColorTransparent;
		}

		header {
			background: $brandColorTransparent;
		}
		
		.parallax {
			.content {
				.logo-inquire {
					background: $brandColor;
				}
			}
		}
	}
}

.cd-timeline-img.krush-burger {
	background: $brandColor;
}

.rightside-menu {
	a {
		&.krush-burger {
			background: $brandColorTransparent;
		}
	}
}

.krush-burger {
	background: $brandColor !important;
}